
Library/metadata/0b/0bb35dfb2cf4cef428671198e76dcc0a
Library/assetDatabase3
Library/CurrentLayout.dwlt
*.dwlt
*.json
Library/metadata/ab/abc594bab5b0d514999d26c59cdc3df8
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
Library/shadercompiler-UnityShaderCompiler.exe0.log
Temp/UnityLockfile
*.userprefs
